@using EMS.Views.Timecard;
@model EnterTimecardVM;

@{
  ViewData["Title"] = "Enter Timecard";
  AppUser appUser = ViewData[Str.AppUser] as AppUser;
  bool viewingOwnTimecard = (bool) ViewData[Str.ViewingOwnTimecard];

  string submitBtnTxt = (Model.Status == Str.Incomplete || Model.Status == Str.Rejected) ? "Submit" : "Recall";
  float[] timeInData = { Model.TimeInMon, Model.TimeInTues, Model.TimeInWed, Model.TimeInThur, Model.TimeInFri };
  float[] timeOutData = { Model.TimeOutMon, Model.TimeOutTues, Model.TimeOutWed, Model.TimeOutThur, Model.TimeOutFri };

  // Adjust your supported times here using 24 hour time
  int earliestTime = 7;
  int latestTime = 19;
}

<script async src="~/js/Timecard/EnterTimecard.js"></script>

<main id="enterTimecard">
  <div class="title-wrap">
    <h1>Timecard For @appUser.FirstName @appUser.LastName</h1>
  </div>

  <div class="info-panel">
    <label>Status: @Model.Status</label>
    <label id="weeklyTotalHours">Hours for the week: @Model.WeeklyHours</label>
  </div>

  <section class="bot-section">
    <div class="timecard-div-table">
      <div class="header">
        <div>Date</div>
        <div>Time In</div>
        <div>Time Out</div>
        <div>Daily Hours</div>
      </div>
      @{
        for (int i = 0; i < 5; i++)
        {
          string divClass = (i % 2 == 0) ? "workday-row" : "workday-row offRow";
          <div class="@divClass">
            <div>@Model.StartDate.AddDays(i).ToString("ddd, MMM dd")</div> <!-- Mon, Jan 1 -->
            <div>
              <select id="timeInDropdown_@i">
                @for (double j = earliestTime; j <= latestTime; j += 0.25)
                {
                  if (j == timeInData[i])
                  {
                    <option value="@j" selected>@EnterTimecardVM.ConvertValueToTimeFormat(j)</option>
                  }
                  else
                  {
                    <option value="@j">@EnterTimecardVM.ConvertValueToTimeFormat(j)</option>
                  }
                }
              </select>
            </div>
            <div>
              <select id="timeOutDropdown_@i">
                @for (double j = earliestTime; j <= latestTime; j += 0.25)
                {
                  if (j == timeOutData[i])
                  {
                    <option value="@j" selected>@EnterTimecardVM.ConvertValueToTimeFormat(j)</option>
                  }
                  else
                  {
                    <option value="@j">@EnterTimecardVM.ConvertValueToTimeFormat(j)</option>
                  }
                }
              </select>
            </div>
            <div id="hours_@i"></div>
          </div>
        }
      }
    </div>
      @if (viewingOwnTimecard)
      {
        <form asp-asp-controller="Timecard" asp-action="SubmitTimecard" class="control-panel">
        @if (submitBtnTxt == "Submit")
        {
          <button type="submit" class="btn" id="saveBtn">Save</button>
        }
          <button type="submit" class="btn" id="submitBtn">@submitBtnTxt</button>
          <input type="hidden" asp-for="WeeklyHours" id="hoursToSendToServer">
          <input type="hidden" asp-for="CardSubmitted" id="cardSubmittedToSendToServer">
          <input type="hidden" asp-for="TimecardId">
          <input type="hidden" asp-for="AppUserId">
          <input type="hidden" asp-for="TimeInMon" id="timeInToSendToServer_0">
          <input type="hidden" asp-for="TimeInTues" id="timeInToSendToServer_1">
          <input type="hidden" asp-for="TimeInWed" id="timeInToSendToServer_2">
          <input type="hidden" asp-for="TimeInThur" id="timeInToSendToServer_3">
          <input type="hidden" asp-for="TimeInFri" id="timeInToSendToServer_4">
          <input type="hidden" asp-for="TimeOutMon" id="timeOutToSendToServer_0">
          <input type="hidden" asp-for="TimeOutTues" id="timeOutToSendToServer_1">
          <input type="hidden" asp-for="TimeOutWed" id="timeOutToSendToServer_2">
          <input type="hidden" asp-for="TimeOutThur" id="timeOutToSendToServer_3">
          <input type="hidden" asp-for="TimeOutFri" id="timeOutToSendToServer_4">
        </form>
      }
      else
      {
        <form asp-asp-controller="Timecard" asp-action="ReviewTimecard" class="control-panel">
          <button type="submit" class="btn" id="approveBtn">Approve</button>
          <button type="submit" class="btn" id="rejectBtn">Reject</button>
          <input type="hidden" asp-for="IsApproved" id="isApprovedToSendToServer">
          <input type="hidden" asp-for="TimecardId">
          <input type="hidden" asp-for="AppUserId">
          <input type="hidden" asp-for="TimeInMon" id="timeInToSendToServer_0">
          <input type="hidden" asp-for="TimeInTues" id="timeInToSendToServer_1">
          <input type="hidden" asp-for="TimeInWed" id="timeInToSendToServer_2">
          <input type="hidden" asp-for="TimeInThur" id="timeInToSendToServer_3">
          <input type="hidden" asp-for="TimeInFri" id="timeInToSendToServer_4">
          <input type="hidden" asp-for="TimeOutMon" id="timeOutToSendToServer_0">
          <input type="hidden" asp-for="TimeOutTues" id="timeOutToSendToServer_1">
          <input type="hidden" asp-for="TimeOutWed" id="timeOutToSendToServer_2">
          <input type="hidden" asp-for="TimeOutThur" id="timeOutToSendToServer_3">
          <input type="hidden" asp-for="TimeOutFri" id="timeOutToSendToServer_4">
        </form>
      }
  </section>
</main>
